.techproBanner {
  background: url("../../../public/images/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 12%;
}
@media screen and (min-width: 768px) {
  .techproBanner {
    padding-bottom: 25%;
  }
}

.excellenceTransform {
  color: #6228B1;
}

.techproBannerText {
  font-family: "Work Sans" !important;
  text-align: center;
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  .techproBannerText {
    padding-top: 160px;
  }
}

.techproBannerText p {
  padding: 50px 30px;
  font-size: 16px;
  font-style: normal;
  font-family: none;
  font-weight: 100px;
}
@media screen and (min-width: 768px) {
  .techproBannerText p {
    padding-top: 50px;
    font-size: 20px;
  }
}

.techproBannerText h2 {
  color: white;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .techproBannerText h2 {
    font-size: 55px;
  }
}

.techproDesignSection {
  background: linear-gradient(rgba(181, 14, 14, 0.7), rgba(29, 195, 14, 0.7));
  width: 100%;
}

.techproServiceSectionTitle {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .techproServiceSectionTitle {
    font-size: 25px;
  }
}

.techproServices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px 40px;
}
@media screen and (min-width: 768px) {
  .techproServices {
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 80px;
    row-gap: 20px;
  }
}

.techproServiceTypes {
  color: rgba(255, 255, 255, 0.8823529412);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(9.10401px);
          backdrop-filter: blur(9.10401px);
  border-radius: 10px;
  background: rgba(98, 40, 177, 0.1);
  padding: 10px 20px 35px 8px;
  font-size: 12px;
}
.techproServiceTypes p {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .techproServiceTypes {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 10px 60px 30px;
    font-size: 16px;
    line-height: 1.3em;
    height: 150px;
    width: 75%;
  }
  .techproServiceTypes p {
    font-size: 16px;
  }
}

.techproServiceTitle {
  padding-bottom: 15px;
}

.techproWorkDetailSectionTitle {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .techproWorkDetailSectionTitle {
    font-size: 25px;
    padding: 40px;
  }
}

.techproWorkDetails {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8823529412);
  padding: 0 30px;
  font-size: 16px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .techproWorkDetails {
    display: grid;
    padding-right: 65%;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 130px;
  }
}

.techproWorkDetail {
  background-color: #0C0C0C;
  padding: 15px;
  border-radius: 20px;
}
.techproWorkDetail h1 {
  padding: 7px;
  font-size: 25px;
  opacity: 75%;
}
@media screen and (min-width: 768px) {
  .techproWorkDetail h1 {
    padding: 10px;
    font-size: 45px;
    opacity: 75%;
  }
}
.techproWorkDetail img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.techproWorkDetail h2 {
  padding: 7px;
  font-size: 25px;
  color: white;
}
@media screen and (min-width: 768px) {
  .techproWorkDetail h2 {
    padding: 7px;
    font-size: 45px;
    color: white;
  }
}
.techproWorkDetail p {
  font-family: none;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .techproWorkDetail {
    left: 50%;
    position: relative;
    padding: 30px;
  }
  .techproWorkDetail img {
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.wantAnMvpSection {
  background-color: #6228B1;
  color: white;
}

.wantAnMvpSectionHeading {
  text-align: center;
}
.wantAnMvpSectionHeading h1 {
  font-size: 25px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .wantAnMvpSectionHeading h1 {
    font-size: 40px;
  }
}
.wantAnMvpSectionHeading p {
  font-family: none;
  line-height: 20px;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .wantAnMvpSectionHeading p {
    padding-top: 10px;
    font-size: 16px;
  }
}

.wantAnMvpSteps {
  display: grid;
  padding: 30px 64px;
  gap: 24px;
  color: #fff;
  font-family: none;
}
@media screen and (min-width: 768px) {
  .wantAnMvpSteps {
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 200px;
  }
}

.wantAnMvpStep {
  padding: 15px;
  font-family: none;
  background: rgba(98, 40, 177, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(9.10401px);
          backdrop-filter: blur(9.10401px);
}
.wantAnMvpStep h6 {
  padding: 7px 7px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .wantAnMvpStep {
    padding: 30px;
    font-family: none;
    background: rgba(98, 40, 177, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(9.10401px);
            backdrop-filter: blur(9.10401px);
  }
  .wantAnMvpStep h6 {
    padding: 15px 10px;
    font-size: 16px;
  }
}

.elevatingDigitalPresense {
  padding: 50px 30px;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .elevatingDigitalPresense {
    padding: 100px 190px;
    font-size: 35px;
  }
}

.contactSection {
  display: grid;
  padding: 0 90px;
}
.contactSection img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .contactSection {
    display: flex;
    padding: 0 190px;
    font-size: 30px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    display: flex;
  }
}

.contactSectionOrText {
  opacity: 55%;
  font-size: 35px;
}

.contactSectionWriteToUs {
  font-size: 25px;
  border-bottom: 7px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .contactSectionWriteToUs {
    font-size: 35px;
  }
}

.contactSectionSetUpACall {
  font-size: 25px;
  border-bottom: 7px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .contactSectionSetUpACall {
    font-size: 35px;
  }
}

.techproFooterSection {
  background-color: #6228B1;
}
@media screen and (min-width: 768px) {
  .techproFooterSection {
    justify-content: center;
  }
}

.techproFooter {
  display: flex;
  gap: 50px;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .techproFooter {
    gap: 300px;
    font-size: 25px;
    border-bottom: 7px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 50px;
    padding: 80px 190px;
  }
}

.techproFooterText {
  font-size: 16px;
}

.techproFooterCopyRightText {
  opacity: 55%;
}