// .techproHeaderSection{


// }

.techproHeaderLink{
  display: flex;
  justify-content: space-between;
  padding:  60px 90px;
}


.techproStartUpButton{
background-color: #6228B1;
  padding: 20px;
border-radius: 10px;
 
  
}

.techproTitle{
  display: block;
  padding: 20px;
 font-size: 16px;

}