.techproHeaderSection {
  position: relative;
}

.techproHeaderLink {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 12px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    padding: 60px 90px;
  }
}

.techproStartUpButton {
  // position: fixed;
  background-color: rgb(98, 40, 177);
  padding: 20px;
  border-radius: 10px;
  font-size: 12px;
  // left: 55%;
  // margin-left: 60%;
  z-index: 1;
  //  position:relative;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding: 20px;
    // margin-left: 80%;
  }
}

.techproStartUpButton:hover {
  background: linear-gradient(rgba(98, 40, 177, 1), rgb(110, 68, 169));
}

.techproTitle {
  display: block;
  padding: 16px;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding: 20px;
  }
}
